@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-card: rgb(255 255 255);
  --color-card-foreground: rgb(3 7 18);
  --color-muted: rgb(243 244 246);
  --color-muted-foreground: rgb(107 114 128);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-card: rgb(3 7 18);
    --color-card-foreground: rgb(250 250 250);
    --color-muted: rgb(23 23 23);
    --color-muted-foreground: rgb(163 163 163);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
